.length{
    width: 60%;
    height: 1.5rem;
}
.btn{
    width: 5rem;
    height: 1.5rem;
    margin-top: 3rem;
    color: #fff;
}
.btn:hover{

    transform: scale(1.2);
}
.form{
    margin-left: 20rem;
    margin-top: 2rem;
}
body{
    margin: 0;
    border: 8px solid rgb(227, 161, 172);
    background-color: rgb(161, 202, 202);
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.line{
    border-top:2px solid #fff;

    margin-left: 18rem;
    width: 50%;
}
h2{
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    background-color: rgb(250, 56, 56);
    margin-left: 24rem;
}
.btn2{
    background-color: rgb(25, 139, 25);
    margin-left: 1rem;
}